@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,html {
	height: 100%;
	font-family: Julius Sans One;
}

.header {
	position: relative;
	
}

.navbar{
	top: 10px;
	left: 0;
	right: 0;
	color: black;
	padding: 20px 0 0 20px;
	display: flex;
}

.navbar ul {
	display: flex;
	justify-content: center;
	gap: 20px;
	list-style-type: none;
	color: black;
	padding-top: 20px;
	margin-left: 60px;
	font-size: 18px;
}

.logo a img {
	width: 40px;
	height: 40px;
}

a{
	color: black;
	text-decoration: none;
}

.parallax {
	display: flex;
	align-items: center;	/* Center items vertically*/
	justify-content: center;	/*Center items horizontally*/
	color: black;
}

