@charset "UTF-8";



.default-page .header .parallax{
	height: 170px;
    width: 100%;
	background-color: white;
	color: black;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
	display: block;
}

.first-look {
	background-color: black;
	display: flex;
	width: 100%;
	height: 800px;
	font-size: 50px;
	margin-bottom: 20px;
}

.text {
	margin-top: 80px;
	margin-left: 300px;
}

.text p {
	text-align: left;
	color: #E4C287;
	font-family: 'Bestaline', sans-serif;
	font-size: 120px;
}

.fa-star {
	color: #CCCCCC;
}

.checked {
	color: black;
}



.first-look img {
	object-fit: cover;
	margin-right: 100px;
}

.product {
    width:90%;
    justify-content: center;
    margin:auto;
    margin-top: 60px;
    margin-bottom: 100px;
}

.row {
	width: 100%;
	background-color: white;
	margin: 30px;
	display: flex;
	flex-wrap: wrap;         /* This allows items to wrap to the next line */
	text-align: center;
	justify-content: center;
}

.row img {
	width: 100%;
	height: 300px;
	object-fit: contain;
}

.row figure:hover {
	border-color: #2f2f2f;
}

.row figure {
	width: calc(25% - 40px); /* Adjust width to allow 4 per row with margin */
    background-color:white;
    margin:20px 20px 0 20px; /* space between the boxes */
    justify-content: center;
    align-items: center;
    text-align:center;
    border: 3px solid transparent; /* set initial border */
	transition: border-color 0.3s ease; /* smooth transition */
}

figcaption {
	
	margin: 20px 20px 10px 20px;
}

figure p {
	font-family: 'Bestaline', sans-serif;
	margin-bottom: 10px;
}

button {
	width: 120px;
	height: 40px;
	color: white;
	background-color: black;
}

.panther{
    width: 100%;
    background-color:white;
    margin:20px; /* space between the boxes */
    justify-content: center;
    align-items: center;
    text-align:center;
	display: flex;
}

.panther img {
	width: 100%;
	height: 400px;
	object-fit: fill;
	overflow: hidden;
}

hr {
	border: 0.5px solid black;
}

